.reser_item{
	border:1px solid;
	width:100%;
	margin-top:10px;
	height:65px;
	position:relative;
	border-radius: 5px;
}

.reser_profile img{
	width:63px;
	height:63px;
	border-radius: 5px;
}

.reser_profile{
	display:inline-block;
	width:20%;
}

.reser_content{
	display:inline-block;
	top:0px;
	height:65px;
	position:absolute;
	width:30%;
}

.reser_payment{
	display:inline-block;
	top:0px;
	height:65px;
	right:24px;
	position:absolute;
	width:30%;
}

.show_detail{
	float:right;
	height:100%;
	width:12px;
	right:5px;
	display:table;
	vertical-align: middle;
	padding:5px;
	background-color: #e7e7e7;
	border-radius: 5px;
}

.show_detail span{
	vertical-align:middle; 
	display:table-cell;
}

.detail{
	height:200px;
	display:none;
}

.detail ul{
	text-align:center;
	width:100%;
	background-color:#e7e7e7;
	height:35px;
	margin-bottom:0px;
}
.btn_state{
	width:100%;
}
.detail ul li{
	display:inline-block;
	cursor:pointer;
	width:150px;
	bottom:0px;
	vertical-align: middle;
	background-color: white;
	height:25px;
	margin:10px 5px 5px 0px;
}

.detail ul li.active{
	background-color: #f4f4f4;
}