@charset "UTF-8";

.site-footer {
    background-color: #2a2a2a;
    border-top-color: rgba(0, 0, 0, 0.1);
    color: #9a9a9a;
    height: auto;
    padding-top: 25px;
    padding-bottom: 50px;
    text-align: left;
    padding-left: 0;
    padding-right: 0;
}
