@charset "UTF-8";

.container1 {
	position: relative;
    width: 100%;
    height: calc(100% - 60px);
    top: 60px;
    display: inline-block;
    padding: 0px 0px 0px 15px;
    transition: transform 0.3s ease;
}

.host-side{
	position: fixed;
    /* vertical-align: top; */
	width: 205px;
	height: auto;
	padding: 30px 15px 20px 0px;
    border-bottom: 1px solid #f2f2f2;
    margin: 0px 15px 0px 0px;
    vertical-align: middle;
    
    
}

.host-side > a > span {
	font-family: 'Noto Sans KR', sans-serif; 
    color: #6f7071 !important;
}

.host-side a {
	display: table;
	width: 100%;
	height: 50px;
	padding: 0px 30px 0px 30px;
	color: #626262;
	text-decoration: none;
	font-size:14px;
}

.host-side a:hover {
	background-color: #f5f5f5;
	text-decoration: none;
}

.host-main{
	position: relative;
	display: inline-block;
	width: calc(100% - 220px);
	padding: 35px 15% 0px 5%;
	height: 100%;
	left: 220px;
	border-left: 1px solid #f2f2f2;
	overflow-y: scroll;
}

.host-main-create{
	position: relative;
	display: inline-block;
	width: 100%;
	padding: 35px 15% 0px 5%;
	height: 100%;
	overflow-y: scroll;
}

.pull-left{
	float:left;
}

.pull-left1{
	float:left;
	margin-left:8px;
}

.pull-right{
	float:right;
}



.host-main .host-header .host-title {
	color: #ec7263 !important;
    font-size: 1.6em;
    font-weight: 400;
    font-family: 'Noto Sans KR', sans-serif;
    margin-bottom:30px;
}

.host-main-create .host-header .host-title {
	color: #ec7263 !important;
    font-size: 1.6em;
    font-weight: 400;
    font-family: 'Noto Sans KR', sans-serif;
    margin-bottom:30px;
}

small{
	font-weight:300;
	font-size:65%;
	line-height:1;
	color:#a3afb7;
}

.panel {
	position: relative;
	margin-bottom: 30px;
    border-width: 0;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 1px 1px rgba(0,0,0,.05);
    border-top-color:transparent;
    
}

.panel-body{
	padding-top:30px;
}

.panel-head {
	border-bottom: 1px solid #e4eaec;
}

.panel-heading{
	color: #6f7071 !important;
    font-size: 1.2em;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
}

.panel-title {
	color: #6f7071 !important;
    font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    display: block;
    padding: 15px 20px;
}
 
.panel-body .control-label{
	font-family: 'Noto Sans KR', sans-serif;
	color: #6f7071 !important;
	font-size: 14px;
	
}

.button-next{
	padding:0px 20px 0px 0px;
}

.panel-desc {
    display: block;
    padding: 5px 0 0;
    margin: 0;
    font-size: 14px;
    font-size: 11px;
}

/* host_amenity */

/* .checkbox-custom {
	position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left:20px;
}
 */
 

.checkbox label {
    font-size: 13px;
}

.checkbox-title{
	margin-bottom:30px;
}

.host-side > a > span{
	margin-top : 14px;
}

.help-block {
	font-size: 12px;
    text-align: left;
    margin-top: 7px;
    margin-bottom: 8px;
    display: block;
    color: #bcc2c8;
}

.inline {
    display: inline!important;
}