@charset "UTF-8";

html, body {
	height: 100%;
	font-weight: normal;
	height: 100%;
	overflow: hidden;
}

#img-panel {
	width: 100%;
	height: calc(100% - 60px);
	min-height:640px;
	display: inline-block;
    transition: transform 0.3s ease;
    position: relative;
    top: 60px;
    z-index: 0;
}

#filter {
	width: 0px;
	height: 100%;
	min-height: 100%;
	background-image: url("../imgs/login_bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	-webkit-filter: grayscale(50%);
    filter: grayscale(50%);
	float: left;
}

#right-panel {
	position: relative;
	width: 0px;
	height: 100%;
	float: right;
	background-color: white;
    transition: transform 0.3s ease;
}

#register-box {
	position: absolute;
	overflow-y: scroll;
	padding: 15% 10% 20% 10%;
	width: 100%;
	height: 100%;
	text-align: center;
}

#register-box h3 {
	color: #333;
	font-weight: bold;
	text-align: left;
}

#register-box p {
	color: #626262;
	text-align: left;
	font-size: 1em;
	margin: 0px 0px 50px 0px;
}

#register-form-login {
	width: 100%;
	height: 240px;
	margin: 0px 0px 0px 0px;
}

#register-box p a {
	color: #A50D73;
	text-decoration: none;
}

#register-box p a:hover {
	text-decoration: none;
}

#custom_pw {
	margin: 0px 0px 0px 0px;
}

.login-form1 {
	margin-bottom: 10px;
	padding-bottom: 10px;
	float: none;
}

.login-form1 #form-chk {
	margin: 0px 0px 0px 0px;
	width: 100px;
	float: left;
}

.login-form1 #autoLogin {
	position: relative;
	margin: 3px 0px 4px 0px;
	vertical-align: middle;
	float: left;
}

.login-form1 #form-chk label {
	color: #626262;
	font-size: 1em;
	padding-left: 0px;
}

.login-form1 #findPw {
	float: right;
	color: #A50D73;
	font-size: 1em;
	text-decoration: none;
}

.login-form1 #findPw:hover {
	text-decoration: none;
}

.reg-btn {
	width: 100%;
	margin-top: 5px;
}

.reg-btn a {
	width: 100%;
}

.reg-btn a:hover {
	text-decoration: none;
}

.reg-a {
	font-size: 1em;
	font-weight: normal;
}

.copyright {
	position: absolute;
	bottom: 0;
	left: 50%;
	text-align: center;
	margin: 50px 0;
	height: 100px;
	font-size: 1em;
	transform: translate(-50%, 0px);
}

#register-box .copyright p {
	text-align: center;
}