@charset "UTF-8";

html, body {
	height: 100%;
	overflow: hidden;
}

.profile-container {
    position: relative;
    width: 100%;
    height: calc(100% - 60px);
    top: 60px;
    display: inline-block;
    padding: 0px 0px 0px 15px;
    transition: transform 0.3s ease;
}

/* profile-nav */

.profile-nav {
    position: fixed;
    vertical-align: top;
	width: 205px;
	height: auto;
	padding: 20px 15px 20px 0px;
	display: none;
    border-bottom: 1px solid #f2f2f2;
    margin: 0px 15px 0px 0px;
}

.profile-nav a {
	display: table;
	width: 100%;
	height: 50px;
	padding: 0px 30px 0px 30px;
	color: #626262;
	text-decoration: none;
}

.profile-nav a:hover {
	background-color: #f5f5f5;
	text-decoration: none;
}

.menu-icon {
	width: 50px;
	display: table-cell;
	vertical-align: middle;
}

.menu-title {
	display: table-cell;
	vertical-align: middle;
}



/* profile-main */

.profile-main {
	position: relative;
	display: inline-block;
	width: calc(100% - 220px);
	padding: 35px 15% 0px 15%;
	height: 100%;
	left: 220px;
	border-left: 1px solid #f2f2f2;
	overflow-y: scroll;
}

.main-header {
	width: 100%;
	height: auto;
	padding: 0px 15px 15px 15px;
	display: inline-block;
}

.main-header h3 {
	position: relative;
	margin: 0px;
	display: inline-block;
	color: #ef6d1f;
}

.main-header p {
	position: absolute;
	padding: 0px 0px 6px 10px;
	margin: 0px;
	display: inline-block;
	color: #b2b2b2;
	font-weight: normal;
}

.main-content {
	width: 100%;
	height: 100%;
	padding: 0px 30px 0px 30px;
	display: inline-block;
}

.main-content h3 {
	margin-bottom: 20px;
}

.main-content p {
	text-align: left;
	margin: 7px 0px 7px 0px;
	color: #626262;
}

.form-group {
	width: 100%;
	height: 34px;
	margin-bottom: 30px;
	display: inline-block;
}

.form-group .form-label {
	padding: 0px;
	height: 100%;
	text-align: right;
}

.form-group label {
	min-width: 70px;
	display: inline-block;
	vertical-align: middle;
	margin: 7px 10px 7px 0px;
	padding-right: 10px;
	font-weight: normal;
}

.joindate {
	margin: 0px 0px 0px 0px;
}

.add-cellphone {
	display: inline-block;
	height: 34px;
	color: #A50D73;
	text-decoration: none;
}

.add-cellphone:hover {
	color: skyblue;
	text-decoration: none;
}

.add-cellphone i {
	width: auto;
	vertical-align: middle;
	margin: 8px 5px 12px 10px;
	display: inline-block;
}

#cellphone label {
	width: 100%;
	display: inline-block;
}

#cellphone-panel {
	display: none;
}

#cellphone label i {
	width: auto;
	vertical-align: middle;
	margin: 8px 5px 12px 10px;
	display: inline-block;
}

#btn-save {
	width: calc(100% - 30px);
	margin-left: 15px;
	display: inline-block;
}
