@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/**/

::-webkit-scrollbar { width: 8px; }

::-webkit-scrollbar-button { width: 8px; }

::-webkit-scrollbar-thumb { background: #a9a9a9; }

label {
	color: #9897a6 !important;
}

html, body {
	height: 100%;
	overflow: hidden;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.3); /* IE */
  -moz-transform: scale(1.3); /* FF */
  -webkit-transform: scale(1.3); /* Safari and Chrome */
  -o-transform: scale(1.3); /* Opera */
}

.profile-container {
    position: relative;
    width: 100%;
    height: calc(100% - 60px);
    top: 60px;
    display: inline-block;
    transition: transform 0.3s ease;
    overflow: hidden;
}



/* profile-main */

.profile-main {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 100%;
	border-left: 1px solid #f2f2f2;
	overflow: hidden;
}


#col-map {
	height: 100%;
	padding: 0px 0px 0px 0px;
}

#col-main {
	height: 100%;
	min-height: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
	overflow: hidden;
}

#col-search {
	width: 100%;
	height: 16%;
	margin-bottom: 1%;
	display: inline-block;
}

#col-content {
	width: 100%;
	height: 83%;
	margin-top: 10px;
	padding-bottom: 50px;
	display: inline-block;
	overflow-y: scroll;
}

#div-place {
	width: 24%;
	margin-right: 1%;
	float: left;
}

#div-chkin {
	width: 27%;
	float: left;
}

#div-chkout {
	width: 27%;
	float: left;
}

#div-person-count {
	width: 21%;
	float: left;
}

.col-md-2.standard {
	margin-bottom: 15px;
	padding: 0px;
}

#a-1 {
	float: left;
}

#a-2 {
	float: right;
}

#searchbar {
	width: 79%;
	margin-right: 1%;
	float: left;
}

#btn-search {
	width: 20%;
}

.house-type {
	margin-bottom: 15px;
}

.wrap {
	width: 20%;
	margin-right: 1%;
	display: inline-block;
	vertical-align: top;
	float: left;
}

.type-title {
	color: gray;
	min-width: 76px;
	font-weight: normal;
}

.chk {
	position: absolute;
}

.tlabel {
	position: relative;
	display: inline-block;
	margin-left: 20px;
	color: gray;
	font-weight: normal;
	width: 100%;
}

.chk-align {
	margin-left: -15px;
}

.col-md-2.div-more {
	float: right;
}

.div-more a {
	text-align: center;
	color: #a50d73;
	text-decoration: none;	
}

.div-more a:hover {
	color: #66d1ff;
	text-decoration: none;
}

.div-more a:visited {
	color: #a50d73;
	text-decoration: none;
}

.detail-p {
	margin: 20px 0px 20px 0px;
}

.search-list {
	width: 100%;
	height: auto;
}

#row-4, #row-5 {
	display: inline-block;
	position: relative;
	width: 100%;
}

.room-item {
	overflow: hidden;
	width: 100%;
	height: auto;
	margin-top: 20px;
	position: relative;
	display: inline-block; 
}

.room-item h5 {
	color: white;
	margin-left: 10px;
	line-height: 1.5em;
}

.room-img {
	width: 100%;
	height: auto;
	background-size: 100% auto;
	background-repeat: no-repeat;
	
	margin-bottom: 0px;
}

.room-panel {
	width: 100%;
	height: 130px;
	padding: 10px 15px 15px 15px;
	border-bottom: 1px solid #d5d5d5;
}

.room-panel span {
	font-weight: normal;
}

#marker-detail {
	position: absolute;
	background: white;
	width: 190px;
	height: 147px;
	text-align: center;
	z-index: 999;
}

#mdetail-img {
	width: 170px;
	height: 112px;
	margin-top: 10px;
	margin-bottom: 5px;
	background: red;
}

#mdetail-p {
	color: gray;
	padding-bottom: 5px;
}